@media (max-width: 400px){
    body {
      background-color: red;
    }
  }
  /* body {
    position: relative;
  } */
  #navbar {
    display: flex;
    float: left;
    border-right: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    /* position: fixed; */
  }
  #navbar a {
    text-decoration: none;
    color: black;
  
  }
  main {
    float: right;
      padding-left: 10px;
    padding-right: 10px;
  }
  
  body {
    display: flex;
  }
  